* {
  margin:  0;
  padding:  0;
  box-sizing:  border-box;
}


#restaurants {
  background-color: pink;
}

/*Pages*/
/*ProductDetails.js*/

#product {

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


/*Components*/

/*AddOrder.js*/
.count {
  display: inline-block;
  width: 50px;
  text-align: center;
}