body {
  margin: 0;
  background-color: #fcf3f6;
}

.addbtn {
  width: 300px;
  height: 40px;
  font-family: 'Cabin', sans-serif;
  font-size: 20px !important;
}


.btngrp {
  border-radius: 0 !important;
}

.button {
  background-color: orange !important;
  border: none !important;
}

.button:hover {
  background-color:  blue !important;
  cursor:  pointer !important;
  display: inline-block !important;
  margin: auto;
}

.card {
  
 width: 100%;
 height: 100%;
 object-fit: cover;
  display: flex;
}

.checkoutbtn {
  border-radius: 0 !important;
}

.empty {
  width: 400px;
}

.font-link {
  font-family: 'Cabin', sans-serif;
}

.form {
    font-family: 'Cabin', sans-serif;
    padding-top: 50px;
}

.formgroup {
  font-size: 24px;
  padding-top: 10px !important;
}

.formgroup2 {
  font-size: 18px;
  padding-top: 5px !important;
}

.greet1 {
  font-size: 30px;
  font-weight: bold;
  margin:  0px;
  font-family: 'Cabin', sans-serif;
}

.greet2 {
  font-size: 40px;
  font-weight: bold;
  margin:  0px;
  color: orange;
  font-family: 'Cabin', sans-serif;
}

.greet3 {
  font-size: 18px;
  font-weight: bold;
  margin:  0px;
  font-family: 'Cabin', sans-serif;
}

.itemName {
  font-weight: bold;
}

.itemqty {
  display: inline-block;
  width: 35px;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.material-symbols-outlined:hover {
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 200,
  'opsz' 48
}

.minus {
  border-radius: 0 !important;
}

.modalbutton {
 align: center !important;
}

.navlink{
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
}

.ordercard {
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  font-size: 23px;
}

.ordercardimg {
  width: 200px !important;
}

.orderItem {
  font-size: 18px;
}

.orderQtyBtn {
 display: inline-block;
 border: solid;
 border-width: thin;
}

.plus {
  border-radius: 0 !important;
}

.storerow {
  padding-top: 150px;
}

.storetable {
  width: 90vw !important;
  margin-left: auto;
  margin-right: auto;
}

.tablecolumn {
  width: 400px;
}

.x-order {
  background-color: white;
  border: none;
  font-size: ;
}


/*before*/
#restaurants {
  background-color: pink;
}



#product {

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}



.count {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.storeCard {
  color:  red;
}


