body {
  margin: 0;
  background-color: #fcf3f6;
}

.addbtn {
  width: 300px;
  height: 40px;
  font-family: 'Cabin', sans-serif;
  font-size: 20px !important;
}


.btngrp {
  border-radius: 0 !important;
}

.button {
  background-color: orange !important;
  border: none !important;
}

.button:hover {
  background-color:  blue !important;
  cursor:  pointer !important;
  display: inline-block !important;
  margin: auto;
}

.card {
  
 width: 100%;
 height: 100%;
 object-fit: cover;
  display: flex;
}



.catalogItem {

}

.catalogplus {
  font-size: 15px;
  font-weight: bold;

}

.checkoutbtn {
  border-radius: 0 !important;
}

.empty {
  width: 400px;
}

.font-link {
  font-family: 'Cabin', sans-serif;
}

.form {
    font-family: 'Cabin', sans-serif;
    padding-top: 50px;
}

.formgroup {
  font-size: 24px;
  padding-top: 10px !important;
}

.formgroup2 {
  font-size: 18px;
  padding-top: 5px !important;
}

.ft {
  background-color: #FFDAB9;
}

.greet1 {
  font-size: 30px;
  font-weight: bold;
  margin:  0px;
  font-family: 'Cabin', sans-serif;
}

.greet2 {
  font-size: 40px;
  font-weight: bold;
  margin:  0px;
  color: orange;
  font-family: 'Cabin', sans-serif;
}

.greet3 {
  font-size: 18px;
  font-weight: bold;
  margin:  0px;
  font-family: 'Cabin', sans-serif;
}

.itemName {
  font-weight: bold;
}

.itemqty {
  display: inline-block;
  width: 35px;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.material-symbols-outlined:hover {
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 200,
  'opsz' 48
}

.minus {
  border-radius: 0 !important;
}

.modalbutton {
 align: center !important;
}

.navlink{
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
}

.ordercard {
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  font-size: 23px;
}

.ordercardimg {
  width: 200px !important;
}

.orderItem {
  font-size: 18px;
}

.orderQtyBtn {
 display: inline-block;
 border: solid;
 border-width: thin;
}

.plus {
  border-radius: 0 !important;
}

.prodCatalogImg {
  width: 255px !important;
  height: 150px;

}

.storerow {
  padding-top: 150px;
}

.storetable {
  width: 90vw !important;
  margin-left: auto;
  margin-right: auto;
}

.tablecolumn {
  width: 400px;
}

.x {
  font-weight: bolder;
  width: 14px;
}

.x-order {

  border-radius: 50% !important;
}


.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 50px;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


